@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#57121f7d 100%), url("./assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --primarycolor: #5e2730;
    --secondarycolor: #ce9e4f;
    --tertiararyColor: #f59aab;
    --darkColor: #050505;
    --lightColor: #fff;
    --ffPrimary: "Dancing Script";
    --ffSecondary: "Nunito", sans-serif;
    --ffTertiarary: "Story Script", sans-serif;
}

::-webkit-scrollbar{
    width: 1.5rem;
    height: 1rem;
}

::-webkit-scrollbar-track{
    background-color: rgb(251, 251, 251);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(197, 196, 194);
    border-radius: 0.5rem;
}

.screensize-1{
    max-width: 1200px;
    margin: auto;
}

.screensize-3{
    max-width: 900px;
    margin: auto;
}

.componentSpacing {
    padding: 2rem 0rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.br-bottom {
    border-bottom: 0.3rem solid var(--primarycolor);
    max-width: 10rem;
    margin: auto;
}

li{
    list-style-type: none;
}

h1 {
    font-family: var(--ffPrimary);
    color: var(--tertiararyColor);
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem 0rem 0rem;
}

h2 {
    font-family: var(--ffTertiarary);
    font-size: 4rem;
    font-weight: 600;
    color: var(--secondarycolor);
}

h3 {
    font-family: var(--ffSecondary);
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--primarycolor);
    padding-bottom: 2rem;
}

p {
    font-family: var(--ffSecondary);
    color: var(--lightColor);
    font-size: 1.8rem;
    font-weight: 600;
}

/* Designers code*/
.arpitaBox figure img,
.rohanBox figure img,
.meeraBox figure img{
    width: auto;
    height: 270px;
    border-radius: 2rem;
}
/* Designers code*/

/* Responsive code */
@media(max-width:576px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns:1fr;
        padding: 0rem 1rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2{
        font-size: 3.2rem;
    }

    h3{
        font-size: 2.5rem;
    }

    p {
        font-size: 1.6rem;
        padding: 0rem 0rem 2rem;
    }

    .arpitaBox figure img,
    .rohanBox figure img,
    .meeraBox figure img{
        width: auto;
        height: 200px;
        border-radius: 2rem;
    }

    .arpitaBody,
    .rohanBody,
    .meeraBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentBox {
        background: none;
        padding: 1.5rem;
        border-radius: 15px;
    }

    .margin{
        margin: 4rem;
    }
}