@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(212, 120, 126, 0.416) 100%), url("./assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 1.5rem;
    height: 1rem;
}

::-webkit-scrollbar-track{
    background-color: rgb(251, 251, 251);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(197, 196, 194);
    border-radius: 0.5rem;
}

.screensize-1{
    max-width: 1200px;
    margin: auto;
}

.screensize-3{
    max-width: 900px;
    margin: auto;
}

.componentSpacing {
    padding: 2rem 0rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

li{
    list-style-type: none;
}

h1 {
    font-weight: 700;
    color: var(--primarycolor);
    text-align: center;
    padding: 3rem 0rem 0rem;
}

.br-bottom {
    border-bottom: 0.3rem solid var(--secondarycolor);
    max-width: 10rem;
    margin: auto;
}

h2 {
    font-weight: 500;
    color: var(--tertiararyColor);
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--secondarycolor);
    padding-bottom: 2rem;
}

p {
    color: var(--darkColor);
    /* display: inline; */
}

.custom{
    padding-bottom: 2rem;
}

/* Designers code*/
.arpitaBox figure img,
.rohanBox figure img,
.meeraBox figure img{
    width: auto;
    height: 270px;
    border-radius: 2rem;
}
/* Designers code*/

/* Contact */
.contact {
    background-image: linear-gradient(#97354760 100%), url(./assets/images/contactImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0rem;
}

.formBody {
    padding: 3rem 0rem 0rem;
}

input{
    font-family: var(--ffSecondary);
    font-size: 1.7rem;
    width: 50rem;
    padding: 1.5rem 3rem;
    border: 1px solid var(--lightColor);
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

input:focus {
    outline: var(--tertiararyColor);
    border: 0.4rem solid var(--tertiararyColor); 
}

.formBox button {
    background-color: var(--primarycolor);
    border: none;
    cursor: pointer;
}
/* Contact */

/* Responsive code */
@media(max-width:576px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns:1fr;
        padding: 0rem 1rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2{
        font-size: 3.2rem;
    }

    h3{
        font-size: 2.5rem;
    }

    p {
        font-size: 1.6rem;
        padding: 0rem 0rem 2rem;
    }

    .arpitaBox figure img,
    .rohanBox figure img,
    .meeraBox figure img{
        width: auto;
        height: 200px;
        border-radius: 2rem;
    }

    .arpitaBody,
    .rohanBody,
    .meeraBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentBox {
        padding: 4rem;
    }

    .margin{
        margin: 0rem 4rem;
    }
}