@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkColor);
}

:root {
    --primarycolor: #f59aab;
    --secondarycolor: #c69950;
    --darkColor: #702f39;
    --lightColor: #fff;
    --ffPrimary: "Dancing Script";
    --ffSecondary: "Nunito", sans-serif;
    --ffTertiarary: "Story Script", sans-serif;
}

::-webkit-scrollbar{
    width: 1.5rem;
    height: 1rem;
}

::-webkit-scrollbar-track{
    background-color: rgb(251, 251, 251);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(197, 196, 194);
    border-radius: 5px;
}

.screensize-1 {
    max-width: 1200px;
    margin: auto;
}

.screensize-2 {
    max-width: 1000px;
    margin: auto;
}

.screensize-3 {
    max-width: 800px;
    margin: auto;
}

.componentSpacing {
    padding: 2rem 0rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dflex-end {
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
}

/* Parent Container */
header{
    width: 100%;
    height: auto;
}

main{
    width: 100%;
    height: auto;
}

footer{
    width: 100%;
    height: auto;
}

/* Parent Container */

h1 {
    font-family: var(--ffPrimary);
    color: var(--darkColor);
    font-size: 5rem;
    font-weight: 900;
}

h2 {
    font-family: var(--ffTertiarary);
    font-size: 4rem;
    font-weight: 700;
    color: var(--lightColor);
}

.br-bottom {
    border-bottom: 0.3rem solid var(--primarycolor);
    max-width: 10rem;
    margin: auto;
}

h3 {
    font-family: var(--ffTertiarary);
    font-size: 25px;
    font-weight: 600;
    color: var(--secondarycolor);
    padding-top: 2rem;
}

p {
    font-family: var(--ffSecondary);
    color: var(--lightColor);
    font-size: 16px;
    font-weight: 600;
}

span {
    color: var(--secondarycolor);
}

li {
    list-style-type: none;
}

a {
    font-family: var(--secondarycolor);
    font-size: 20px;
    padding: 0rem 2rem;
    color: var(--darkColor);
    text-decoration: none;
}

button {
    background: linear-gradient(45deg, var(--primarycolor) 0%, var(--darkColor) 100%);
    font-family: var(--ffTertiarary);
    font-size: 2rem;
    color: var(--lightColor);
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 50px;

}

button:hover {
    background: var(--primarycolor);
    color: var(--darkColor);
}

/* NavBar*/
.navBar {
    /* position: fixed; */
    background-color: var(--primarycolor);
    width: 100%;
}

.navContainer {
    padding: 1rem 4rem;
}

.logo {
    font-family: var(--ffPrimary);
    font-size: 5rem;
    font-weight: bold;
}

#iconToggle {
    cursor: pointer;
    display: none;
}

.navLinksBox .hamburger {
    font-size: 2.5rem;
    color: #00000080;
    border: 0.1rem solid #0000001d;
    padding: 0.3rem 1.5rem;
    border-radius: 0.55rem;
    display: none;
}

/* NavBar */

/* Hero */
.hero {
    background: url("./assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroBox {
    width: auto;
    height: 700px;
}

.heroBox h1 {
    font-size: 50px;
    color: var(--darkColor);
}

.heroBox p {
    color: var(--secondarycolor);
    padding: 2rem 0rem;
}
/* Hero */

/* Accessories */
.handcraftsBody {
    padding: 3rem 0rem 0rem 0rem;
}

.cardHeader figure img {
    width: auto;
    height: 320px;
    border-radius: 0rem 7rem 0rem 7rem;
    padding: 0rem 1rem;
}
/* Accessorise */

/* Collections */
.costumeBody {
    padding-top: 3rem;
}

.costumeBody figure img {
    width: auto;
    height: 380px;
    padding: 3rem;
}
/* Collections */

/* Designers */
.membersBody {
    padding-top: 3rem;
}

.membersBody figure img {
    width: 350px;
    height: auto;
}
/* Designers */

/* Contact */
.contact {
    background-image: linear-gradient(#df4f69b5 100%), url(./assets/images/contactImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0rem;
}

.formBody {
    padding: 3rem 0rem 0rem;
}

form input,
textarea {
    font-family: var(--ffSecondary);
    font-size: 16px;
    text-align: left;
    width: 50rem;
    padding: 1.5rem 3rem;
    border: 1px solid var(--lightColor);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.formBox button {
    background-color: var(--primarycolor);
    border: none;
    cursor: pointer;
}
/* Contact */

/* Footer */
.copyrights {
    background: #00032c;
    text-align: center;
    padding: 2rem 0rem;
}

.copyrightsBox h4 {
    font-family: var(--ffSecondary);
    font-size: 25px;
    color: var(--primarycolor);
}
/* Footer */

/* Responsive */
@media(max-width:576px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns:1fr;
        padding: 0rem 1rem;
    }

    .navContainer {
        padding: 1rem 1rem;
    }

    .navLinksBox .hamburger {
        display: block;
        position: absolute;
        top: 3rem;
        right: 4rem;
        cursor: pointer;
    }

    .navLinksBox ul li{
        padding: 1rem;
    }

    .navLinksBlock {
        justify-content: start;
        padding: 1rem 0rem;
    }

    .navLink {
        flex-direction: column;
        display: none;
    }

    #iconToggle:checked~.navLink {
        display: flex;
    }

    .center-align{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        padding-top: unset;
    }

    p {
        font-size: 1.6rem;
        padding: 0rem 0rem 2rem;
    }

    .cardHeader figure img {
        width: auto;
        height: 250px;
        border-radius: 0rem 4rem 0rem 4rem;
    }

    .accessoriesBox {
        padding-bottom: 2rem;
    }

    .collectionsBox{
        padding-bottom: 2rem; 
    }

    .designerBox{
        padding-bottom: 2rem; 
    }
    
    .contactBox{
        padding-bottom: 2rem;
    }
    form input,
    textarea {
        width: 27rem;
    }
}